<div id="aboutmacModal" class="about-modal">
    <div class="about-modal-content">
        <div class="modal-titlebar relative flex items-center">
            <div class="spacer shrink-0"></div>
            <div class="close-box-wrapper">
                <div class="close-box" onclick=" closeAboutMac()"></div>
            </div>
            <div class="absolute inset-0 flex justify-center items-center pointer-events-none">
                <span id="aboutTitle" class="bg-white px-2 py-[1px] leading-none z-10 modal-title">About this
                    Macintosh</span>
            </div>
        </div>
        <img src="images/macintosh-portable.svg" class="w-[32px] h-[32px] shrink-0 block px-[10px]" />
        <!-- <span class="about-text-bold leading-snug">Macintosh Portable</span> -->
        

    </div>
</div>