    <!-- System Menubar -->
    <div class="system-bezel"></div>
    <div class="system-menubar">
        <img src="images/apple-icon.svg" alt="Apple" style="cursor: pointer;"
            class="apple-icon" />
        <div class="menu-labels">
            <span class="system-menubar-font">File</span>
            <span class="system-menubar-font">Edit</span>
            <span class="system-menubar-font">Go</span>
            <span class="system-menubar-font" style="cursor: pointer;">Tools</span>
            <span class="system-menubar-font" style="cursor: pointer;">Home</span>
        </div>
        <div class="clock" id="clock">Thu 9:41 AM</div>
        <img src="images/help-mini.svg" alt="Help" class="help-icon" />
        <button onclick="togglePalette()">
            <img src="images/hypercard-app-mini.svg" alt="HyperCard" class="hypercard-icon">
        </button>
    </div>

        <!-- #1 Upper Right: Macintosh HD -->
        <div id="mac-container" class="fixed top-0 right-0 mr-[7px] mt-[52px] flex flex-col items-center cursor-pointer">
            <img id="mac-icon" src="images/happy-mac-icon.svg" alt="Macintosh HD" class="h-[32px] w-auto" />
            <span class="classic-icon-label"
                style="margin-top: 0px; background-color: white; color: black; padding-top: 1px; padding-right: 1px; padding-bottom: 1px; padding-left: 3px;">
                Macintosh HD
            </span>
        </div>
    
        <!-- #2 Hypercard Open -->
        <div class="fixed top-0 right-0 mr-[16px] mt-[114px] flex flex-col items-center">
            <img src="images/hypercard-open.svg" alt="HyperCard" class="h-[32px] w-auto" />
            <span class="classic-icon-label"
                style="margin-top: 0px; background-color: white; color: black; padding-top: 1px; padding-right: 1px; padding-bottom: 1px; padding-left: 3px;">
                HyperCard
            </span>
        </div>
    
        <!-- #3 Clarus -->
        <div id="clarus-container" class="fixed top-[176px] right-[27px] flex flex-col items-center cursor-pointer">
            <img id="clarus-icon" src="images/clarus-icon.svg" alt="Clarus" class="h-[32px] w-auto" />
            <span class="classic-icon-label"
                style="margin-top: 0px; background-color: white; color: black; padding-top: 1px; padding-right: 1px; padding-bottom: 1px; padding-left: 3px;">
                Clarus
            </span>
        </div>
    
        <!-- #4 Risk -->
        <div class="fixed top-[238px] right-[32px] flex flex-col items-center">
            <img src="images/risk.svg" alt="HyperCard" class="h-[32px] w-auto" />
            <span class="classic-icon-label"
                style="margin-top: 0px; background-color: white; color: black; padding-top: 1px; padding-right: 1px; padding-bottom: 1px; padding-left: 3px;">
                Risk
            </span>
        </div>
    
        <!-- #5 Photoshop -->
        <div class="fixed top-[300px] right-[17px] flex flex-col items-center">
            <img src="images/photoshop.svg" alt="HyperCard" class="h-[32px] w-auto" />
            <span class="classic-icon-label"
                style="margin-top: 0px; background-color: white; color: black; padding-top: 1px; padding-right: 1px; padding-bottom: 1px; padding-left: 3px;">
                Photoshop
            </span>
        </div>
    
        <!-- #6 Trash -->
        <div id="trash-container" class="fixed bottom-0 right-0 mr-[32px] mb-4 flex flex-col items-center cursor-pointer">
            <img id="trash-icon" src="images/trash.svg" alt="Trash" class="h-[32px] w-auto" />
            <span class="classic-icon-label"
                style="margin-top: 0px; background-color: white; color: black; padding-top: 1px; padding-right: 1px; padding-bottom: 1px; padding-left: 3px;">
                Trash
            </span>
        </div>