<div id="previewModal" class="modal">
    <div class="modal-content">
        <div class="modal-titlebar relative flex items-center">
            <div class="spacer shrink-0"></div>
            <div class="close-box-wrapper">
                <div class="close-box" onclick="closeModal()"></div>
            </div>
            <div class="absolute inset-0 flex justify-center items-center pointer-events-none">
                <span id="modalTitle" class="bg-white px-2 py-[1px] leading-none z-10 modal-title">Modal
                    Title</span>
            </div>
        </div>
        <div id="modalContent" class="modal-body flex-1 overflow-auto flex justify-center items-center bg-white">
            <canvas id="pdf-canvas" class="pdf-canvas hidden"></canvas>
            <img id="image-viewer" class="image-viewer hidden" alt="Full Image" />
        </div>
        <div id="pdf-controls"
            class="pdf-controls hidden flex gap-2 py-0 px-2 justify-center items-center border-t border-black bg-white">
            <button id="prevPage" class="icon-button w-8 h-8">
                <img src="images/hand-pointing-left.svg" alt="Previous Page" />
            </button>
            <span id="pageInfo" class="page-number px-2">Page 1 of 1</span>
            <button id="nextPage" class="icon-button w-8 h-8">
                <img src="images/hand-pointing-right.svg" alt="Next Page" />
            </button>
        </div>
    </div>
</div>