@font-face {
    font-family: 'Geneva 9.1';
    src: url('Geneva-91.woff2') format('woff2'),
        url('Geneva-91.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

